
<section>
  <div class="emi d-flex justify-content-center mt-5 ">
      <div class="card w-75">
          <div class="card-header">
              <h2>EMI Calculator</h2>
          </div>
          <div class="card-body">

                  <div class="form-group">
                      <label for="amount">Amount</label>
                      <input type="text" class="form-control" id="amount" [(ngModel)]="amount">
                  </div>
                  <div class="form-group">
                      <label for="amount">Intrest Rate</label>
                      <input type="text" class="form-control" id="interest" [(ngModel)]="interest">
                  </div>
                  <div class="form-group">
                      <label for="amount">Tenure(in months)</label>
                      <input type="text" class="form-control" id="year" [(ngModel)]="year" >
                  </div>
                  <div class="form-group">
                     <button class="btn btn-info"  (click)="overAllEmi()">Calculate</button>
                  </div>
          </div>
          <div class="card-footer d-flex justify-content-center"  >
             <table class="table text-center" id="table" *ngIf="tableShow" >
                 <thead>
                     <tr>
                         <th>Principal Amount</th>
                         <th>Monthly</th>
                         <th>Monthly Interest</th>
                         <th>Yearly</th>
                         <th>EMI</th>
                         <th>Total Interest</th>
                         <th>Total Payment</th>
                     </tr>
                 </thead>
                 <tbody>
                     <td id="principal">{{amount}}</td>
                     <td id="monthly">{{monthly}}</td>
                     <td id="monthlyInt">{{monthlyI}}</td>
                     <td id="yearly">{{yearly}}</td>
                     <td id="emi">{{emi}}</td>
                     <td id="totalInterest">{{totalI}}</td>
                     <td id="totalPayment">{{totalP}}</td>
                 </tbody>
             </table>
          </div>
      </div>
  </div>
</section>
